#page  {
    > header:first-child {
        background: #b3d4fc;
        padding: 15px 10px;
        color: #fff;
        font-size: 22px;

        > div {
            margin: 0 auto;
        }

        i {
            font-size: 32px;
            vertical-align: middle;
            padding-right: 8px;
        }
    }

    > main {
        margin: 0 auto;
        padding: 15px 0;

        h1 {
            margin: 0;
            padding: 0 0 4px;
            font-size: 22px;
            color: #666;
        }

        p {
            padding-bottom: 4px;
            margin: 0;
        }

        fieldset {
            padding-bottom: 10px;
        }

        ol {
            list-style: none;
            padding: 0;
            border: 1px solid #eee;
            margin: 0;
            display: flex;
        }

         li:nth-child(odd) {
             background: #fcfcfc;
         }

        .card {
            text-align: center;
            padding: 10px 0;
            header {
                span:first-child {
                    font-size: 12px;
                    color: #666;
                }
                div {
                    font-size: 14px;
                    color: darken(#b3d4fc, 20%);
                }
            }

            .txt-low {
                color: #bbb;
            }
            .txt-high {
                color: #8c8c8c;
                padding-right: 12px;
            }
        }
    }

    > footer {
        padding: 15px 10px;
        border-top: 1px solid #ccc;
        font-size: 12px;
        color: #ccc;
        text-align: right;

        > div {
            margin: 0 auto;
        }
    }
}

.input-group-addon {
    padding: 0;
    > button {
        border: none;
        padding: 6px 12px;
        margin: 0;
        background: transparent;
    }
}


@media only screen and (min-width: $screen-xs) {
    #page {
        > header:first-child > div,
        > main,
        > footer > div {
            width: $screen-xs;
        }

        > main {
            ol {
                flex-wrap: wrap;
            }
            li {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: $screen-sm) {
    #page {
        > header:first-child > div,
        > main,
        > footer > div {
            width: $screen-sm;
        }

        > main {
            ol {
                flex-wrap: wrap;
                border-bottom: none;
            }
            li {
                width: 50%;
                border-bottom: 1px solid #eee;
            }
        }
    }
}

@media only screen and (min-width: $screen-md) {
    #page {
        > header:first-child > div,
        > main,
        > footer > div {
            width: $screen-md;
        }

        > main {
            ol {
                flex-wrap: wrap;
            }
            li {
                width: 20%;
            }
        }
    }
}

@media only screen  and (min-width : $screen-lg) {
    #page {
        > header:first-child > div,
        > main,
        > footer > div {
            width: $screen-lg;
        }

        > main {
            ol {
                flex-wrap: wrap;
            }
            li {
                width: 10%;
            }
        }
    }
}
