<script id="template-main" type="text/handlebars">
<header>
        <div>
            <i class="fa fa-globe"></i> Weather Station
        </div>
    </header>
    <main class="page-forecast">
        <h1>Weather Forecast</h1>
        <p>Enter a city name below in order to get the three day weather forecast for that location.</p>
        <form method="post" action=".">
            <fieldset class="input-group">
                <input type="text" name="place" class="form-control" placeholder="Enter city name, Example: Detroit, MI" aria-label="City Name" value="">
                <span class="input-group-addon"><button type="submit" aria-label="search"><i class="fa fa-search"></i></button></span>
            </fieldset>
        </form>
        <div id="container-results"></div>
    </main>
    <footer>&copy; {{copyYear}} Scott Daniels</footer>
</script>
